.gcloudignore
.git
.gitignore
.env
.env.*
!.env.example
.next
**/.next
node_modules
**/node_modules
coverage
playwright-report
test-results
**/.terraform
*.tfstate
*.tfstate.*
tfplan
*.tfplan
*.pem
*.key
service-account*.json
